  #quantity {
    text-align: center;
    width: 220px;
    height: 30px;
    border-radius: 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    transition: background-color 0.9s;
  }

  #quantity:focus {
    background-color: #ffffff;
  }

  .button {
    background-color: #78e08f;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #order_form {
    margin: 20px auto;
    width: 350px;
    text-align: center;
  }

  .name_field,
  .phone_field {
    margin-bottom: 10px;
  }

  input[type="text"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.9s;
    background-color: #ececec;
    color: #333;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: #009688;
    background-color: #fff;
  }

/* фвыфвфвыф */

.menu-bar {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  position: fixed; 
  top: 0; /* Размещаем вверху экрана */
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
  width: 480px; 
}

.menu-item {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
  transition: transform 0.3s ease; /* Добавляем анимацию */
  border: 1px solid #ccc; /* Обводка кнопки */
  padding: 6px 7px; /* Добавляем отступ внутри кнопки */
  border-radius: 5px; /* Добавляем закругление углов */
}

.menu-item:hover {
  border-color: #999; /* Изменяем цвет обводки при наведении */
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s;
  border-bottom: 1px solid #c1c1c1; /* добавляем разделительную линию между пунктами */
}

.dropdown-item:last-child {
  border-bottom: none; /* убираем разделительную линию у последнего пункта */
}

.dropdown-item:hover {
  background-color: #d5d5d5;
}
.dropdown-divider {
  margin: 10px 0; /* Добавляем отступ сверху и снизу */
  height: 1px; /* Устанавливаем высоту линии */
  background-color: #ddd; /* Цвет линии */
}

.open {
  display: block;
}

.container {
  position: relative;
  height: 100vh;
}

.myspace {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 24px;
}

.myspace span {
  font-weight: bold;
  color: white; /* Изменяем цвет текста на белый */
  background-color: #333; /* Изменяем фон на темно-серый */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: underline;
}
