body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #666;
}

.details {
    background-color: #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details h2 {
    color: #009688;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.details p {
    margin-bottom: 5px;
    font-size: 16px;
}

.thank-you {
    font-weight: bold;
    text-align: center;
    color: #464646; /* Змінив колір тексту на чорний */
    margin-bottom: 30px;
    /* Видалив тінь */
}

.contact-info {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin-bottom: 10px;
    color: #009688;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.contact-heading {
    font-weight: bold;
    color: #e0c992; /* Змінив колір на березовий */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

 /* Стили для кнопки "Назад" */
 .back-button {
    background-color: #009688; /* Березовый цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Чтобы кнопка была по центру */
    margin: 0 auto; /* Чтобы кнопка была по центру */
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; /* Закругление краев */
}

.back-button:hover {
    background-color: #e0c19e; /* Темно-березовый цвет при наведении */
}

